|
  <p id="back-to-top">
    <a class="visible-xs" href="#top">Back to the top</a>
  </p>
  <!-- Sign Up to our Newsletter -->
  <div class="featured-footer featured-footer-newsletter background-secondary" style="background-size:cover;background-image:url(https://eclipse.org/home/images/background_eclipselandingpage.jpg);background-repeat:no-repeat;background-position:center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <p style="font-size:16px;" class="white">Coming December 19, 2018</p>
          <h2 style="font-size:52px;" class="white"><strong>Eclipse IDE 2018-12</strong></h2>
          <p><a class="btn btn-primary btn-lg" href="https://www.eclipse.org/eclipseide/">Learn More</a></p>
        </div>

      </div>
    </div>
  </div>
