@charset "UTF-8";
@import "asciidoctor/asciidoctor.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";

html body {

  font-family: "Open Sans", "Noto Serif", "DejaVu Serif", serif;

  height: 100%;

}

/* The Eclipse Header - page header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*height: 110px;*/
  z-index: 10;
  color: #4c4d4e;
  text-decoration: none;
  background-color: #f9f9f9;
  background: #404040 100% 0 no-repeat;
  background-size: cover;
}

/* Eclipse Breadcrumb (when active) */
section#breadcrumb {
  position:fixed;
  top: 115px;
  left: 0;
  width: 100%;
}

/* primary content container */
main#main-wrapper {
  position:relative;
  margin-top: 150px;
  padding-top: 20px;
  left: 0;
  margin-bottom: 450px;
  width: 100%;
  height: auto !important;
  height: 100%;
  margin: 115 auto -450px;

}

div#toc-image {
  padding-bottom: 15px;
}

/* Table of Contents (left side) */
div#toc.toc2 {
  position: fixed;
  left: 0;
  width: 20%;
  top: 150px;
  z-index: auto;
}

/* right side container, #header, #content, #footer */
div#content-container {
  float:right
}

/* content header */
div#header {

}

/* content */
div#content {

}

/* content footer */
div#footer {

}


/* Eclipse Footer - page footer */
footer#solstice-footer {
  overflow:scroll;
  bottom: 0;
  left: 0;
  height:450px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0;
  z-index: 10;
}


.scrollup {
    width: 40px;
    height: 40px;
    opacity: .5;
    position: fixed;
    bottom: 50px;
    right: 15px;
    display: none;
    text-indent: -9999px;
    background: url(https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/vendor/eclipsefdn-solstice-components/back-to-top/back-to-top.png?19e6da1…) no-repeat;
}

a {
  color: #2156a5;
  text-decoration:none;
  line-height:inherit
}

a:visited {
  color: #2156a5;
}
