@charset "UTF-8";
@import "asciidoctor/asciidoctor.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";

html body {

  font-family: "Open Sans", "Noto Serif", "DejaVu Serif", serif;

  height: 100%;

}

/* The Eclipse Header - page header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*height: 110px;*/
  z-index: 10;
  color: #4c4d4e;
  text-decoration: none;
  background-color: #f9f9f9;
  background: #404040 100% 0 no-repeat;
  background-size: cover;
  line-height: 0;
  /*
  border-style: solid;
  border-color: lightgreen;
  */
}

div#yamm-content {
  tab-size: unset;
}

/* this seems to fix the More dropdown rendering */
@media (min-width: 768px) {
  .col-sm-8 {
    width: 30%;
  }
}

/* Eclipse Breadcrumb (when active) */
section#breadcrumb {
  position:fixed;
  top: 115px;
  left: 0;
  width: 100%;
  z-index: 10;
  /*
  border-style: dotted;
  border-color: pink;
  */
}

/* primary content container */
main#main-wrapper {
  position:relative;
  margin-top: 150px;
  padding-top: 20px;
  left: 0;
  margin-bottom: 450px;
  width: 100%;
  height: auto !important;
  height: 100%;
  margin: 115 auto -450px;
  /*
  border-style: solid;
  border-color: lightblue;
  */

}

div#toc-image {
  padding-bottom: 15px;
  max-width: 200px;
  /*
  border-style: solid;
  border-color: coral;
  */
}

/* Table of Contents (left side) */
div#toc.toc2 {
  position: relative;
  left: 0;
  width: 15em;
  length: 100%;
  z-index: auto;
  /*
  border-style: dashed;
  border-color: magenta;
  */
}

/* right side container, #header, #content, #footer */
div#content-container {
  float:left;
  /*
  border-style: solid;
  border-color: orange;
  */
}

/* content header */
div#header {
  /*
  border-style: solid;
  border-color: red;
  */
}

/* content */
div#content {
  /*
  border-style: solid;
  border-color: green;
  */
}

/* content footer */
div#footer {
  /*
  border-style: solid;
  border-color: blue;
  */
}


/* Eclipse Footer - page footer */
footer#solstice-footer {
  overflow:scroll;
  bottom: 0;
  left: 0;
  height:450px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0;
  z-index: 10;
  /*
  border-style: solid;
  border-color: yellow;
  */
}


.scrollup {
    width: 40px;
    height: 40px;
    opacity: .5;
    position: fixed;
    bottom: 50px;
    right: 15px;
    display: none;
    text-indent: -9999px;
    background: url(https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/vendor/eclipsefdn-solstice-components/back-to-top/back-to-top.png?19e6da1…) no-repeat;
}

a {
  color: #2156a5;
  text-decoration:none;
  line-height:inherit
}

a:visited {
  color: #2156a5;
}

#header>h1:only-child, div#toc.toc2 #header>h1:nth-last-child(2) {
  border-bottom: 1px solid #ddddd8;
  padding-bottom: 8px
}

@media only screen and (min-width:768px) {

  div#toc.toc2 {
    width: 100%;
    max-width: 62.5em;
    margin: 0px auto 0px auto;
    padding: 0px auto 0px auto;
  }

  div#toc.toc2.toc-right #toc.toc2 {
    border-right-width: 0;
    border-left: 1px solid #efefed;
    left: auto;
    right: 0
  }

  div#content-container {
    float: left;
    padding-left: 0px;
    /*
    border-style: solid;
    border-color: orange;
    */
  }

}

@media only screen and (min-width:1280px) {
  div#toc.toc2 {
    position: fixed;
    top: 150px;
    width: 15em;
    max-width: unset;
    /* padding-left: 20em; goes wonky */
    padding-right: 0
  }

  div#content-container {
    float: left;
    padding-left: 240px;
    /*
    border-style: solid;
    border-color: orange;
    */
  }
}
