@charset "UTF-8";
@import "asciidoctor/asciidoctor.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";

html body {

  font-family: sans-serif;


}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*height: 110px;*/
  z-index: 10;
  color: #4c4d4e;
  text-decoration: none;
  background-color: #f9f9f9;
  background: #404040 100% 0 no-repeat;
  background-size: cover;
}


section#breadcrumb {
  position:fixed;
  top: 115px;
  left: 0;
  width: 100%;
}

main#main-wrapper {
  position:relative;
  top: 150px;
  left: 0;
  padding-bottom: 450px;
  width: 100%;
}

#content {
  padding-left: 150px;
}

div#toc.toc2 {
  float:left;
  left: 0;
  top: 150px;
}

footer#solstice-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

a {
  color: #2156a5;
  text-decoration:none;
  line-height:inherit
}

a:visited {
  color: #2156a5;
}
