@charset "UTF-8";
@import "asciidoctor/plain.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*height: 110px;*/
  z-index: 10;
  color: #4c4d4e;
  text-decoration: none;
  background-color: #f9f9f9;
  background: #404040 100% 0 no-repeat;
  background-size: cover;
}

div#toc.toc2 {
  top: 150px;
}

section#breadcrumb {
  position:fixed;
  top: 115px;
  width: 100%;
}

main {
  position:relative;
  top: 150px;
  padding-bottom: 450px;
  width: 100%;
}

footer#solstice-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}
